@{
    ViewBag.Title = "MeteoWebApp | Korištene ikone";
}

<h2>Ikone korištene na stranici</h2>

<div class="row">
    <img class="" src="~/Content/Images/OtherIcons/1459726611_icon-136-document-edit.png" />
    <a href="#">Link</a>
</div>
<div class="row">
    <img class="" src="~/Content/Images/OtherIcons/1459981345_free-27.png" />
    <a href="#">Link</a>
</div>
<div class="row">
    <img class="" src="~/Content/Images/OtherIcons/delete-icon.png" />
    <a href="#">Link</a>
</div>
<div class="row">
    <img class="" src="~/Content/Images/OtherIcons/1459726611_icon-136-document-edit.png" />
    <a href="#">Link</a>
</div>
<div class="row">
    <img class="" src="~/Content/Images/OtherIcons/1459726611_icon-136-document-edit.png" />
    <a href="#">Link</a>
</div>
<div class="row">
    <img class="" src="~/Content/Images/OtherIcons/1459726611_icon-136-document-edit.png" />
    <a href="#">Link</a>
</div>