@{
    ViewBag.Title = "CreateWarning";
}

<h2>Dodaj novo upozorenje</h2>

<form method="post">
    @Html.AntiForgeryToken()    
    <div class="form-group">
        <label>Naslov</label>
        <input type="text" name="Title" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Tekst</label>
        @Html.TextArea("Text", new { @class = "form-control", maxlength = 1000, required = true})
    </div>
    <input type="submit" class="btn btn-primary" value="Dodaj" />
    <button class="close" data-dismiss="modal">Odustani</button>
</form>