.dropdown-menu>li>a:hover {
	  color: #ffffff;
	  text-decoration: none;
	  background-color: #0081c2;
}
.table tbody>tr>td{
    vertical-align: middle;
    font-size:18px;
}
.main-content{
    margin-top:50px;
    margin-bottom:200px;
}
.table{
    margin-bottom:200px;
}
.logout-button{
    margin-top:8px;
}